
header
{
	background-color: #7d7979;
	text-align: center;
	background-image: url(imagess/flywheel.jpg);
	
}

h2
{
	color: #666666;
	background: #00B7ea;
}
body
{
	background-color: black;
	margin: 4%;
}
